/*Your styles*/

 body {
    width: 100%;
    margin: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
}
#head-content{
padding-top: 10px;
}
#quick-access{
    background-color: #252525;
    
    padding: 5px;
    margin: inherit;
}
#divider {
    position: relative;
    width: 100%;
	border-top: 1px solid #545454;
	border-bottom: 1px solid #3c3c3c;
}
#content {
    padding: 10px;
    vertical-align:middle;
    text-align: center;

}


#btn_setGuide{    
    width: 95%;
}

.btnrow{
    margin-bottom: 10px;
    text-align: center;
    margin-right:auto;
    margin-left:auto;
    vertical-align:middle;
}
.input-row{
    margin-top: 5px;
    margin-bottom: 5px;
}

.quickset-btn {
    width: 30px;
    height: 25px !important;
    margin: 1%;
    background-position: center;
    background-repeat:no-repeat;
    background-size:18px;
}
#btn_left {
    background-image: url(../icons/from-left.png);
}
#btn_center_h {
    background-image: url(../icons/from-center-h.png);
}
#btn_right {
    background-image: url(../icons/from-right.png);
}

#btn_top {
    background-image: url(../icons/from-top.png);
}
#btn_center_v {
    background-image: url(../icons/from-center-v.png);
}
#btn_bottom {
    background-image: url(../icons/from-bottom.png);
}
#btn_clearGuide {
    background-image: url(../icons/clear.png);
}
#set-btn {
    margin-top: 10px;
}

.custom-input{
    font-size: 10px;
    color: aqua;
    background-color: #1e1e1e;
    width: 32%;
    
	margin-left: 0%;
    padding-left: 20px;
    background-position: 0.2rem  center;
    background-repeat:no-repeat;
    background-size:12px;
}
.custom-input:focus, .custom-input:active {
    color:aquamarine;
}
#quick-access .custom-input {
    width: 20%;
    margin-top: 2px;
}
#quick-access .quickset-btn {
    height: 20px;
}

#fromLeft{
    background-image:url(../icons/from-left.png);
}
#fromCenterV{
    background-image:url(../icons/from-center-v.png);
}
#fromRight{
    background-image:url(../icons/from-right.png);
}

#fromTop{
    background-image:url(../icons/from-top.png);
}
#fromCenterH{
    background-image:url(../icons/from-center-h.png);
}
#fromBottom{
    background-image:url(../icons/from-bottom.png);
}
#grid_v {
    background-image:url(../icons/cols.png);
}
#grid_h {
    background-image:url(../icons/rows.png);
}
#grid_margin {
    background-image:url(../icons/margin.png);
}

.hidden {
    visibility: hidden;
}

/*
Those classes will be edited at runtime with values specified
by the settings of the CC application
*/
.hostFontColor{}
.hostFontFamily{}
.hostFontSize{}

/*font family, color and size*/
.hostFont{}
/*background color*/
.hostBgd{}
/*lighter background color*/
.hostBgdLight{}
/*darker background color*/
.hostBgdDark{}
/*background color and font*/
.hostElt{}


.hostButton{
    border:1px solid;
    border-radius:2px;
    height:20px;
    vertical-align:bottom;
    font-family:inherit;
    color:inherit;
    font-size:inherit;
}


/* BOOTSTRAP */
.tooltip {
	display:none;
	position:absolute;
	border:1px solid #333;
	background-color:#161616;
	border-radius:5px;
	padding:10px;
	color:#fff;
	font-size:12px Arial;
}